doctype html
html
  head
    title Sanidhya Dance Academy
    block scripts
    block style
    
  body
    nav#navbar
                ul
                    li #[a(href="/") Home] 
                    li #[a(href="/") Services] 
                    li #[a(href="/") About] 
                    li #[a(href="/contact") Contact Us] 
                    li #[a(href="/") Info] 
    block content
    footer#footer 
       | Copyright 2019 Sanidhyacademy.com | All rights reserved
    