.images {
    position: relative;
    width: 100%;
  }
  
  img {
    /* transition: opacity 1s ease-in-out; */
    transition: all 5s ease-in-out;
    /* border: 2px solid black; */
    /* max-height: 100px; */
    height: 195px;
    width: 195px;
  }
  
  .shuffle {
    margin-bottom: 20px;
  }
  
  .show {
    opacity: 1;
    visibility: visible;
    width: auto;
    transition: all 3s ease-in-out;
  }
  
  .hide {
    opacity: 0;
    visibility: hidden;
    width: 0;
    position: absolute;
    transition: all 3s ease-in-out;
  }