div.team-section
    h1 ABOUT US
    h2 LIVING TOGETHER,GROWING TOGETHER
    h2 Our Team
    div.aboutborder
    div.ps
        a(href='#p1')
         img(src='/static/img/photo1.png' alt='')
        a(href='#p2')
         img(src='/static/img/photo1.png' alt='')
        a(href='#p3')
         img(src='/static/img/photo1.png' alt='')
    div.section#p1
        span.name The Rock
        div.border
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ipsam perspiciatis, nobis assumenda ea voluptate eum eius labore minus dolorem?
    div.section#p2
        span.name Dwayne Johnson
        div.border
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ipsam perspiciatis, nobis assumenda ea voluptate eum eius labore minus dolorem?
    div.section#p3
        span.name WWE Rockstar
        div.border
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis ipsam perspiciatis, nobis assumenda ea voluptate eum eius labore minus dolorem?