h2.heading OUR MISSION
div.missionborder
div.container
                div.card
                    div.box
                        div.content 
                            h2 01
                            h3 Card One
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione doloremque illum provident dolorum eligendi perferendis beatae. Incidunt aspernatur earum corrupti iste cumque deserunt vel suscipit rem tempora! Facere, nulla in.
                            a(href="#") Read More
                div.card
                    div.box
                        div.content 
                            h2 02
                            h3 Card Two
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut eum velit impedit sapiente ut quaerat molestiae doloribus nesciunt excepturi laborum illo at, odit nihil consectetur accusamus animi minima sit soluta.
                            a(href="#") Read More
                div.card
                    div.box
                        div.content 
                            h2 03
                            h3 Card Three
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi velit nam itaque minima provident consectetur, nisi nostrum enim reiciendis qui ea, veniam laboriosam quaerat sapiente iure repellendus in iste sed.
                            a(href="#") Read More