#services
  .inner-width
    h1.section-title Our Services
    .border
    .services-container
      .service-box
        .service-icon
          i.fas.fa-paint-brush
        .service-title ABC
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
      .service-box
        .service-icon
          i.fas.fa-code
        .service-title DEF
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
      .service-box
        .service-icon
          i.fas.fa-brush
        .service-title JKL
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
      .service-box
        .service-icon
          i.fas.fa-object-ungroup
        .service-title MNO
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
      .service-box
        .service-icon
          i.fas.fa-database
        .service-title PQR
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
      .service-box
        .service-icon
          i.fab.fa-android
        .service-title XYZ
        .service-desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
